<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Nuevo estudiante</title>
        <h:outputStylesheet library="css" name="styles.css"/> 
    </h:head>
    <h:body>
        <h:graphicImage library="img" name="logo.png"/>
        <h1>Nuevo estudiante</h1>
        <h:form id="studentForm">
            <h:panelGrid id="studentPanel" columns="1">
                
                <h:outputLabel for="firstName">Nombres:</h:outputLabel>
                <h:inputText id="firstName" value="#{studentsBean.firstName}" required="true" requiredMessage="Nombre requerido"/>

                <h:outputLabel for="firstName">Apellidos</h:outputLabel>
                <h:inputText id="lastName" value="#{studentsBean.lastName}" required="true" requiredMessage="Apellido requerido"/>
                
                <h:outputLabel for="age">Edad</h:outputLabel>
                <h:inputText converterMessage="Please enter digits only" id="age" value="#{studentsBean.age}" required="true" requiredMessage="Edad requerida"/>
                
                <h:outputLabel for="nick">Nick</h:outputLabel>
                <h:inputText id="nick" value="#{studentsBean.nick}" required="true" requiredMessage="Nick requerido"/>                
                
                <h:commandButton action="#{studentsBean.save}" value="Enviar"></h:commandButton>
            </h:panelGrid>
        </h:form>
        <h:messages class="error" id="errorMessage"/>
    </h:body>
</html>

