<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Estudiantes</title>
        <h:outputStylesheet library="css" name="styles.css"/> 
    </h:head>
    <h:body>
        <h:graphicImage library="img" name="logo.png"/>
        <h1>Estudiantes</h1>
        <h:form>
            <h:commandLink action="formStudent" value="Nuevo alumno"/>
        </h:form>        
        <h:dataTable value="#{studentsBean.students}" var="student">
            <h:column>
                <f:facet name="header">ID</f:facet>
                <h:outputText value="${student.id}"/>
            </h:column>            
            <h:column>
                <f:facet name="header">Nombre y apellido</f:facet>
                <h:outputText value="${student.firstName} ${student.lastName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Edad</f:facet>
                <h:outputText value="${student.age}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Nick</f:facet>
                <h:outputText value="${student.nick}"/>
            </h:column>
        </h:dataTable>
        <h:messages class="error" id="errorMessage"/>
    </h:body>
</html>

