/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/06/2021, 05:58:02 PM
    Author     : Gino Junchaya
*/

h1 {
    color: red;
    font-weight: bolder;
}

